.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:200px;
    padding-top: 40px;
    gap: 20px 10px;
}

.label {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.params {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 400px;
    gap: 0 5px;
}

.user {
    width: 50%;
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.limit {
    width: 60%;
    max-width: 230px;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.texto__user {
    font-size: 15px;
    border-radius: 5px; 
    border: 1px solid grey;
    padding: 3px 0;
    box-sizing: content-box;
    text-align-last:center;
}

.texto__limit {
    font-size: 15px;
    border-radius: 5px; 
    border: 1px solid grey;
    padding: 3px 0;
    box-sizing: content-box;
    text-align-last:center;
    width: 80%;
}

.period {
    display: flex;
    width: 70%;
    max-width: 230px;
    align-items: center;
    padding-top: 3.5px;
}

.select__period {
    font-size: 14px;
    width: 60%;
    border-radius: 5px;
    background-color: white;
    padding: 2px 0;
}

.option {
    text-align-last:center
}

button {
    margin-top: 1em;
    width: 10em;
    height: 2em;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.method__selector {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select__method {
    font-size: 14px;
    width: 20%;
    border-radius: 5px;
    background-color: white;
    padding: 2px 0;
    min-width: 150px;
}

@media (max-width: 500px) {
    
    .form {
        width: 100%;
    }
    .params {
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .limit {
        width: 100%;
    
    }

    .period {
        width: 100%;
        justify-content: center;
    
    }

}