.card {
    width: 13rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    background-color: #CBEDD5;
}

.song__title {
    padding: auto;
    margin-bottom: 1px;
    display: flex;
    text-align: center;
    align-items: center;
    height: 3rem;
    width: auto;
    color: #002B5B;
}

.artist {
    margin: 0.5em;
    color: #1A5F7A;
}

img {
    margin: 1em 1em 0 1em;
}

.playcount {
    font-size: 18px;
    margin: 0.5em;
    color: #002B5B;

}

@media (max-width: 450px) {

    .card {
        width: 7.5rem;
        height: 12rem;
    }

    .song__title {
        font-size: 80%;
    }

    .artist {
        font-size: 70%;
    }

    img {
        width: 70%;
        margin: auto;
    }

    .playcount {
        font-size: 70%;
    }
}